[mysqld]
server-id = 11
port      = 3306
#socket    = /var/run/mysqld/mysqld.sock
skip-external-locking
skip-name-resolve
default-storage-engine = INNODB
character-set-server = utf8mb4
wait_timeout = 100
connect_timeout = 20
interactive_timeout = 100
back_log = 500
event_scheduler = ON
##lower_case_table
lower_case_table_names=1
explicit_defaults_for_timestamp=true
##############slow log##########
slow_query_log  = 1
long_query_time = 1
#############per_thread_buffers############
max_connections = 4000
max_user_connections = 2000
key_buffer_size = 128M
max_allowed_packet = 64M
table_definition_cache = 1024
table_open_cache = 1024
sort_buffer_size = 16M
read_buffer_size = 16M
read_rnd_buffer_size = 16M
join_buffer_size = 256K
tmp_table_size = 64M
max_heap_table_size = 32M
query_cache_type = 0
query_cache_size = 0
bulk_insert_buffer_size = 16M
thread_cache_size = 64
thread_stack = 256K
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1
innodb_file_format = Barracuda
innodb_purge_threads = 1
innodb_change_buffering = all
transaction_isolation = READ-COMMITTED
[mysqldump]
quick
max_allowed_packet = 32M
[mysql]
no-auto-rehash
default-character-set=utf8mb4
[mysqlhotcopy]
interactive-timeout
[mysqld_safe]
open-files-limit = 40000
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
